.header {
  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.header__logo {
  margin-top: 34px;
  width: 254.8373565673828px;
  height: 68.94309997558594px;
  top: 34px;
  left: 513px;
}

.header__title {
  margin-top: 194px;
  max-width: 720px;
  font-size: 96px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header__subtitle {
  text-align: center;
  margin-top: 40px;

  width: 720px;
  height: 72px;
  font-size: 30px;
  line-height: 36px;
}

.header__image {
  filter: grayscale();

  margin-top: 60px;
  max-width: 984px;
  width: 100%;
}

/*@media screen and (max-width: 768px) {
  .header__logo {
    width: 254px;
    height: 66px;
  }

  .header__title {
    font-size: 75px;
    line-height: 79px;
  }

  .header__span {
    font-size: 75px;

    line-height: 1.5;
  }

  .header__subtitle {
    font-size: 30px;
    width: 720px;
    height: 72px;
    line-height: 36px;
  }
}

*/

@media screen and (max-width: 320px) {
  .header__logo {
    width: 188px;

    height: 52px;
  }

  .header__title {
    width: 288px;
    height: 88px;

    font-size: 40px;

    margin-top: 55px;
    line-height: 1.5;
  }

  .header__span {
    font-size: 40px;
    line-height: 44px;

    margin-bottom: 100px;
  }

  .header__subtitle {
    width: 288px;
    height: 40px;
    font-size: 15px;
    line-height: 20px;
    margin-top: 40px;
  }

  .header__image {
    top: 20px;
  }
}
