.intro {
  max-width: 984px;
  margin: auto;
  font-family: "Inter2";
}

.intro__title {
  font-size: 45px;
  width: 80%;
  font-family: "Inter";
}

.intro__text {
  max-width: 738px;

  width: 65%;
  font-size: 24px;
}

.intro__footer {
  max-width: 732px;
  font-size: 24px;
  text-align: right;
}

.intro__description {
  font-size: 16px;
  width: 73%;
  margin-top: 30px;
  font-family: "Inter2";
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .intro__title {
    font-size: 45px;

    width: 84%;
  }

  .intro__text {
    font-size: 24px;
    width: 100%;
  }

  .intro__description {
    font-size: 16px;
    width: 94%;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    width: 100%;
  }

  .intro__text {
    font-size: 24px;

    max-width: 288px;
    width: 100%;
  }

  .intro__description {
    font-size: 16px;
    max-width: 288px;
    width: 100%;
    line-height: 1.5;
  }

  .intro__conteiner {
    display: flex;

    justify-content: center;
    align-items: center;
  }
}
