@import url(/vendor/fonts.css);

.intro {
  max-width: 984px;
  margin: auto;
  font-family: "Inter2";
}

.intro__title {
  font-size: 54px;
  width: 80%;
  font-family: "Inter";
}

.intro__text {
  max-width: 738px;

  width: 65%;
  font-size: 24px;
}

.intro__footer {
  max-width: 732px;
  font-size: 24px;
  text-align: right;
}

.intro__description {
  font-size: 16px;
  width: 73%;
  margin-top: 30px;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .intro__title {
    max-width: 89%;

    font-size: 45px;
  }
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .intro__title {
    font-size: 32px;
    max-width: 90%;
  }

  .intro__text {
    font-size: 24px;

    max-width: 98%;
  }

  .intro__description {
    font-size: 16px;
    max-width: 90%;
  }
}
